<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia doloremque distinctio soluta eveniet recusandae dignissimos sequi ad quisquam doloribus corporis aperiam enim nisi aut deserunt a, tenetur fugiat maiores et.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis qui dicta quae veritatis deserunt tenetur tempora a velit debitis placeat quis accusantium nemo dolorum, odio facere dolore. Soluta, quaerat deserunt.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>