<nav>
    <div class="site-title">
        <a href="/"><h1>Blogging Website</h1></a>
        <p>A basic blog webiste</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>